body {
  background-color: white;
  margin: 0px;
  padding: 0px;
}
.navbar {
  display: flex;

  justify-content: space-between;
  background-color: rgba(27, 27, 231, 0.669);
}
.navbar-titles {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 1100px;
}
.navbar-logo {
  width: auto;
  height: 50px;
  display: inline-block;
}
.navbar-logo-div {
  align-items: center;

  width: 200px;
}
.create {
  background-image: url("Logo.png");
  background-repeat: no-repeat;
  padding-left: 30px;
}
.main-head {
  background: linear-gradient(
      rgba(239, 240, 244, 0.886),
      rgba(63, 7, 231, 0.856)
    ),
    url("h.jpg") no-repeat;
  background-size: cover;
  height: 80vh;
  color: white;
}

.head {
  display: block;
  width: 800px;
  text-align: center;
  padding-top: 100px;

  margin: auto;
}
.navbar-logo_head {
  width: auto;
  height: 100px;
  display: inline-block;
}
.head-calender {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.head-calender-date {
  display: flex;
  width: 140px;
  align-items: center;
  justify-content: space-between;
}

.head-calender-time {
  display: flex;
  width: 280px;
  align-items: center;
  justify-content: space-between;
}
.social-links {
  display: flex;
  width: 200px;
  justify-content: space-around;
  position: relative;
  top: 50px;
  left: 30px;
}
.timer {
  width: 150px;
  height: 100px;
  display: inline-block;
  background-color: rgb(157, 56, 157);
  margin-left: 60px;
  text-align: center;
  padding-bottom: 20px;
  border-radius: 10%;
}
.header-2 {
  display: flex;
  width: 900px;
  margin: 50px auto;
}
.header-2-div {
  display: flex;
  width: 500px;
  margin: 50px auto;

  justify-content: space-between;
}
.button-1 {
  color: white;
  padding: 10px 20px;
  width: 200px;
  border-radius: 16px;
  height: 50px;
  border: solid 3px transparent;
  background-image: linear-gradient(
      rgba(169, 9, 243, 0.989),
      rgba(200, 158, 202, 0.968)
    ),
    linear-gradient(101deg, #78e4ff, #ff48fa);
}
.button-2 {
  color: white;
  padding: 10px 20px;
  width: 200px;
  height: 50px;
  border-radius: 16px;
  border: solid 3px transparent;
  background-image: linear-gradient(
      rgba(185, 8, 239, 0.97),
      rgba(255, 255, 255, 0.968)
    ),
    linear-gradient(101deg, #78e4ff, #ff48fa);
}

.header-2-buttons-1 {
  height: 80px;
  width: 200px;
  background: linear-gradient(
    rgba(239, 240, 244, 0.886),
    rgba(63, 7, 231, 0.856)
  );
  display: inline-block;
  margin-left: 100px;
  border-radius: 40%;
}
.header-2-buttons-2 {
  height: 80px;
  width: 200px;
  background-color: linear-gradient(
    rgba(239, 240, 244, 0.886),
    rgba(63, 7, 231, 0.856)
  );
  display: inline-block;
  margin-left: 100px;
  border-radius: 40%;
}

.info {
  background-color: #0d024d;
  height: 800px;
  display: flex;
  color: white;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.info-1 {
  height: 700px;
  width: 400px;

  display: inline-block;
}
.info-2 {
  height: 500px;
  width: 700px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.info-2-div {
  height: 200px;
  width: 300px;
}
.details-main {
  height: 300px;
  background-color: #58487b;
  color: white;
}
.details {
  width: 80%;
  margin: auto;
  padding-top: 30px;
}
.details-head {
  justify-content: flex-start;
  margin-top: 0px;
  padding-top: 20px;
  text-align: center;
}
.speaker-heading {
  height: 150px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
  color: white;
  background-color: rgba(32, 3, 81, 0.806);
}
.speaker-section {
  display: flex;
  flex-wrap: wrap;
  margin-left: 7px;
}

.speaker-1 {
  background-color: white;
  height: 350px;
  width: 377px;
  background-image: url("speaker-1.png");
  background-size: cover;
}
.speaker-2 {
  background-color: #6c4ab6;
  height: 250px;
  color: white;
  width: 377px;
  padding-top: 100px;
  text-align: center;
}
.speaker-2-links {
  width: 150px;
  display: flex;
  justify-content: space-around;
  margin: auto;
}
.speaker-3 {
  background-color: white;
  height: 350px;
  width: 377px;
  background-image: url("speaker-2.png");
  background-size: cover;
}
.speaker-4 {
  background-color: white;
  height: 350px;
  width: 377px;
  background-image: url("speaker-3.png");
  background-size: cover;
}
.speaker-5 {
  background-color: white;
  height: 350px;
  width: 377px;
}
.speaker-6 {
  background-color: white;
  height: 350px;
  width: 377px;
}
.speaker-7 {
  background-color: grey;
  height: 350px;
  width: 377px;
}
.speaker-8 {
  background-color: bisque;
  height: 350px;
  width: 377px;
}
.speaker-1-info {
  position: relative;
  top: 276px;
  left: 0px;
  width: 357px;
  display: inline-block;
  color: white;
  padding-left: 20px;
  background: linear-gradient(
    rgba(239, 240, 244, 0.886),
    rgba(63, 7, 231, 0.856)
  );
}
.speaker-5-8-info {
  position: relative;
  top: 279px;
  left: 0px;
  width: 357px;
  display: inline-block;
  color: white;
  padding-left: 20px;
  background: linear-gradient(
    rgba(239, 240, 244, 0.886),
    rgba(239, 238, 241, 0.989)
  );
}
